{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        </div>
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>
<div class="wrapper clearfix menu-sz">
  <nav class="sz-nav">
    {{widget('extendednavigation', 'navigationheader', {})|raw}}
  </nav>
</div>
<div class="main wrapper clearfix">
    {{zone('main')|raw}}
</div>
<footer class="bk-footer">
    <div class="wrapper clearfix">
                {{widget('content', 'contactformheader', {"content":"<h2>Contact us</h2>"})|raw}}
                {{widget('content', 'contactformcontent', {"content":"<p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend</p>"})|raw}}
                {{widget('map', 'mymap', {'height': '355', 'zoom': '15', 'address': 'profile'})|raw}}
                {{widget('contactform', 'contactform', {'text': 'Send','formTitle': 'Contact Form', 'email': 'profile'})|raw}}
    </div>
</footer>
<section>
  <div class="copy-sz">
    <div class="wrapper clearfix">
        {{widget('image', 'headercolumn3image', { 'src': asset('images/logo-footer.png'), 'alt': 'logo', 'fileName': 'logo-footer.png', 'fileSize': '3kb', 'imageSize': '99px x 23px', 'imageWidth': '99px'})|raw}}
    </div>
    <div class="wrapper clearfix f-socialicons">
        {{widget('profile', 'f-socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
    </div>
  </div>
</section>
<section>
  <div class="wrapper clearfix copy-s">
  {{widget('content', 'copy-s1', {"content":"<p>Infinite 2014  all rights reserved</p>"})|raw}}
  </div>
</section>
{% endblock %}
