{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        </div>
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>
<div class="main wrapper clearfix">
    {{zone('main')|raw}}
</div>
<section>
  <div class="copy-sz">
    <div class="wrapper clearfix">
        {{widget('image', 'headercolumn3image', { 'src': asset('images/logo-footer.png'), 'alt': 'logo', 'fileName': 'logo-footer.png', 'fileSize': '3kb', 'imageSize': '99px x 23px', 'imageWidth': '99px'})|raw}}
    </div>
    <div class="wrapper clearfix f-socialicons">
        {{widget('profile', 'f-socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
    </div>
  </div>
</section>
<section>
  <div class="wrapper clearfix copy-s">
  {{widget('content', 'copy-s1', {"content":"<p>Infinite 2014  all rights reserved</p>"})|raw}}
  </div>
</section>
{% endblock %}
